/* * {
    margin: 0;
    padding: 0;
}
.kitchen-box {
    width: 90%;
    max-width: 1000px;
    margin: 20px auto;
                       
}

.order-queue {
    font-weight: bolder;
    color:  rgb(63, 7, 95);
    background: white;
    border-radius: 5px;
    border: none;
    padding: 15px 32px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 20px auto;

}
.btn-menu {  
    background:  rgb(63, 7, 95);
    color: white;
    border-radius: 5px;
    margin: 5px;
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 15px;
    margin-bottom: 15px;

} */
