<body>

<header>
    <h1> {{ title }} </h1>

  
  <nav class="router">
        <a class="btn btn-outline-light btn-lg" routerLink="/waiter" routerLinkActive="active">PEDIDO</a> 
      
        <a class="btn btn-outline-light btn-lg" routerLink="/kitchen" routerLinkActive="active">COCINA</a> 
      </nav>

      <nav class="title">
          <img class="logo-img" src="https://cdn141.picsart.com/279174463002211.png?r1024x1024" alt="logo">
          </nav>
  </header>  


<router-outlet></router-outlet>

</body>