<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1> {{ title }} </h1>
</div>

<nav>
  <a routerLink="/waiter" routerLinkActive="active" 
  style="background-color:black;
     padding-left: 25px;
     padding-right: 25px;
     padding-top: 10px;
     padding-bottom: 10px;
     border-radius: 45px;
     color: aliceblue;
     margin: 5px;" 
     >waiter</a> 

  <a  style="background-color:black;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 45px;
  color: aliceblue;
  margin: 5px;" 
   routerLink="/kitchen" routerLinkActive="active">kitchen</a>

</nav>
<router-outlet></router-outlet>