<section class="container"> 
  <div class="name">
      <div class="input-group input-group-lg">
          <div class="input-group-prepend">
            <span class="input-group-text">Pedido de:</span>
          </div>
          <input [value]="inputclient"  #clientName type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg">
        </div>
      </div>


<main class="menu-box">

<div class="box-options">

      <button class="btn-menu" (click)="filterBreakFast('breakfast')">DESAYUNO</button>
      <button class="btn-menu" (click)="filterPrincipal('principal')">PRINCIPAL</button>
      <button class="btn-menu" (click)="filterBevarage('beverage')">LÍQUIDOS</button>

</div>

<div>
    <ul>
      <li *ngFor="let menu of menus"
      (click)="onSelect(menu)"
      class="food"
      >
        <span>{{menu.name| uppercase}}</span> ${{menu.price}}
      </li>
    </ul>
    </div>
</main>

<main class="total-box">

<div  *ngIf="selectedMenu" class="selected-option">

<ul>
<li *ngFor="let menu of selectedMenu">
<p>{{menu.name | uppercase}} ${{menu.price}}  <img  width="25px"  (click)="onDelete(menu)"  src="../../../assets/img/rounded-remove-button.png"> </p>
</li>
</ul>

<div class="result">
    <h3>Total = ${{total}} </h3> 
    <button class="btn-menu" (click)="sendOrder(clientName.value)">Enviar Pedido</button>    
</div>

</div>
</main>
</section>