@import '~bootstrap/dist/css/bootstrap.min.css';
@import url('https://fonts.googleapis.com/css?family=Shadows+Into+Light+Two&display=swap');

* {
    margin: 0;
    padding: 0;
}
.container {
    width: 90%;
    max-width: 1000px;
    margin: 20px auto;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2, auto);

    grid-template-areas: "label total"
                         "menu total"
}
.container > main,
.container .menu-box
.container .total-box {
    color:  rgb(63, 7, 95);
    background: white;
    padding: 20px;
    border-radius: 5px;
}

.container .menu-box{
    grid-area: menu;
}
.container .total-box{
    grid-area: total;
}

.name {
    color: white;
    font-size: 20px;
    grid-area: label;
}
.box-options {
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(3,1fr);
    grid-area: option;

    grid-template-areas: "option option option"
                         

}
/* .options {
    grid-area: option;
} */
.btn-menu {  
    background:  rgb(63, 7, 95);
    color: white;
    border-radius: 5px;
    margin: 5px;
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;

}

.food {
    background:  rgb(63, 7, 95);
    color: white;
    border-radius: 5px;
    margin: 15px;
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}


.selected-option {
    font-weight: bolder;
}

.result {
    font-weight: bolder;
    margin: 20px auto;
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(2,1fr);
    grid-area: food;

    grid-template-areas: "h3 button"
}
.result > h3 {
    grid-area: h3;
 
}
.result > button {
    grid-area: button;
}

@media screen and (min-width:780px) and (max-width:1024px){
   .container {
        width: 90%;
        max-width: 1000px;
        margin: 20px auto;
        display: grid;
        grid-gap: 20px;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(2, auto);
    
        grid-template-areas: "label total"
                             "menu total"
    }
  }
  @media screen and (min-width:480px) and (max-width:780px){
    
    .container {
        width: 90%;
        max-width: 1000px;
        margin: 20px auto;
        display: grid;
        grid-gap: 20px;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(2, auto);
    
        grid-template-areas: "label total"
                             "menu total"
    }
  }
  @media screen and (max-width:480px){
    .container {
        width: 90%;
        max-width: 1000px;
        margin: 20px auto;
        display: grid;
        grid-gap: 20px;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(2, auto);
    
        grid-template-areas: "label total"
                             "menu total"
    }
  }